{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            "targets": {
                "chrome": 66
            },
            "useBuiltIns": "usage",
            "loose": true
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-spread",
        "@babel/plugin-proposal-class-properties",
        "jsx-control-statements"
    ]
}
