{
    "presets": [
        "react",
        ["env", {
            "targets": {
                "chrome": 54
            },
            "useBuiltIns": true,
            "loose": true
        }]
    ]
}
