{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            "targets": {
                "chrome": 70
            },
            "useBuiltIns": false
        }]
    ],
    "plugins": [
        "ramda",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-function-bind",
        "jsx-control-statements"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ],
            "include": [
                "node_modules"
            ]
        }
    }
}
